{
"AccumuloInstance": "instance17",
"AccumuloPassword": "secret",
"AccumuloVersion": "1.7.1",
"JavaHome": "",
"HadoopPrefix": "",
"HdfsRoot": "hdfs://localhost:10000",
"MarathonRoot": "http://localhost:8080",
"NumTabletServers": 3,
"User": "centos",
"ZookeeperConnect": "localhost",
"ZookeeperHome": ""
}
